* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Roboto';
}

/* atributos em comum */

h1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px;
}

h2 {
    font-family: "Poppins", sans-serif;
    text-size-adjust: 1.5rem;
    font-weight: 500;
    margin-bottom: 6px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 6px;
}


ul li {
    margin-left: 30px;
}

p {
    font-size: 1rem;
    padding-bottom: 6px;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    
}


/* cabeçalho de navegação */
.header-topo {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-bottom: 10px;
    width: 100%;
    left: 0;
    top: 0;
    /* position: fixed; */

   
}


.header-topo nav ul li {
    padding-left: 15px;
    list-style-type: none;
}

.header-topo ul {
    display: flex;
    height: 100%;
    align-items: center;

}

.header-topo nav a {
    font-family: roboto;
    text-decoration: none;
    color: #000000a6
}


.header-topo nav a:hover {
    color: #000000;
}

/* logo superior */
.header-topo img {
    height: 70px;
    width: auto;
    margin: 8px 8px 8px 16px;
}

.header-topo img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Css conteúdo página Inicial */

section.carousel {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.carousel-container {
    width: 400%;
    height: auto;
    display: flex;
}
.carousel-container input{
    display: none;
}
.image-carousel {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.image-carousel img {
    width: 35%;
    height: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 75%;
    margin-top: 18.5%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #FFC107;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: #FFC107;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #FFC107;
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
.first-title {
    text-align: center;
    margin-top: 3%;
}
.second-title{
    text-align: center;
    margin-top: 1%;
    font-family: "Poppins";
    font-weight: 550;
}
.hr-carousel{
    margin-top: 1%;
}
.block-cards{
    background-color: #ffffff;
    margin-top: 1%;
}
.cards-home{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem; 
}
.card-square{
    display: flex;
    flex-direction: column;
}
.img-cards{
    width: 13rem;
    height: 13rem;
    border: 1px solid #666666;
    border-bottom: none;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.card-square p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666666;
    height: 3rem;
    background-color: #FFC107;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transition: 0.2s;
}
.third-title{
    text-align: center;
    margin-top: 2%;
    background-color: #f8f9fa;
    font-family: "Poppins";
    font-weight: 600;
}
.block-big-cards{
    background-color: #F8F9FA;
    width: 80%;
    margin-left: 11rem;
    height: 32.3rem;
    margin-top: 2rem;
}
.title-third-all {
    display: flex;
    justify-content: center;
}
.big-cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.big-cards-home{
   width: 20rem;
   margin-top: 1rem;
}
.big-cards-home h5 {
    font-size: 1rem;
}
#img-big-cards{
    width: 20rem;
}
/* Missão */
.ods-home{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}
.section-home {
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-div {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 14rem;
    gap: 0.5rem;
    background-color: transparent;
    text-align: center;
}
.section-home img {
    width: 4rem;
}
.img-mission:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
.section-home div:first-of-type {
    margin-right: 20px;
}
.section-home div:last-of-type {
    margin-left: 20px;
}
.section-home img {
    display: flex;
    justify-content: center;
}
.img-mission img:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
/* Sessão home informações para cadastro e fale conosco */
.button-cadastro-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;
    height: 10rem;
    margin-top: 1rem;
    margin-left: 11rem;
    background-color: #F8F9FA;
}
.aside-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.aside-home h4{
    font-size: 1.1rem;
}
.aside-home-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.aside-home-two h4{
    font-size: 1.1rem;
}
#button-aside-home{
    width: 9rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 400;
}
#openModalHome {
    width: 9rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 400;
}
.modal-home {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.form-home{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.modal-content-home h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.modal-content-home {
    background-color: #fff;
    margin: 10% auto;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-home #input-home{
    width: 20rem;
    height: 1.5rem;
    border: 1px solid black;
}
.modal-home #label-home{
    font-size: 1.1rem;
}
#mensagem{
    width: 20rem;
    height: 4rem;
}
#button-fale-home{
    width: 15rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
}
/* formulário de pesquisa */
form.busca {
    display: flex;
    align-items: center;
}
button {
    padding: 6px 12px;
    font-size: 16px;
    color:#FFC107;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFC107;
    border-radius: 6px;
    border-width: 1px;
    border-style:solid;
    margin-right: 8px;
    transition-duration: 0.4s;
  }
    
  button:hover {
    background-color:#FFC107;
    color: #ffffff;
    }

input {
    border-width: 1px 1px 1px 1px;
    border: 1px solid #ffffff;
    outline:#ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    color: #212121;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style:solid;
    margin-right: 8px;
}



/* conteúdo principal */

main {
    margin: 60px;
}

/* footer */
footer {
    padding: 10px 4px 0px 10px;
    background-color: #f8f9fa ;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-logo img {
    height: 120px;
    width: auto;
}


.footer-logo a img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}

footer hr {
    margin: 0px;
}


footer nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;

}

footer ul {
    list-style: none;
    padding: 0px;
}


footer ul li {
    margin-right: 20px;
    text-decoration: none;
    margin: 0px;
}


footer span {
    font-weight: 600;
}

address {
    padding-bottom: 4px;
   
}

.dados-contato{
    padding-bottom: 4px;
}

.dados-contato a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.dados-contato img:hover{
    transform:scale(1.3);
    transition: 0.3s;
}

.dados-contato ul {
    display: flex;
    justify-content: center;
    margin: 0px 0px 4px 0px;
}

footer nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 14px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10px;

}

footer nav a:hover {
    color: #FFC107;
}


footer strong {
  font-weight: 600;
}


.copyright {
    display: flex;
    justify-content: center

}

.copyright p {
    padding: 8px;
    margin-bottom: 0px;
}

/* quem somos */

.main-quemsomos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 900px;
}

.quem-title {
    display: flex;
    justify-content: center;
}


.projeto-integrador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10p;
    padding-top: 20px;
}


.texto-pi {
    margin-right: 20px;
    width: 50%;
}

.ods3 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 30px;
    border: 1px solid #4CA146;
    color:#000000;
    border-radius: 20px;
    width: 50%;
}

.ods3-main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ods3 img {
    margin-top: 10px;
    margin-left: 16px;
    width: 9rem;
}

#ods-verde {
    color:#4CA146;
}

.dengue-news {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.surgimento {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 50px;
    background-color: #f8f9fa;
    border-radius: 20px;

}

.surgimento h2 {
    align-self: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

.surgimento ol {
    padding: 8px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.surgimento li {
    padding-bottom: 4px;
}
.surgimento h2 {
    justify-self: center;
}

.dengue-news figure {
    display: flex;
    justify-content: center;

}

.dengue-news img {
    width: 70%;
    height: auto;
    padding: 25px;
}

.negocio-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;

}

.negocio-cards article {
    padding: 25px;
    width: 50%;
    background-color: #fff2cc;
    margin: 15px 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.negocio-cards article:first-of-type {
    margin-right: 20px;
}

.negocio-cards article:last-of-type {
    margin-left: 20px;
}


.negocio-cards figure {
    display: flex;
    justify-content: center;
}

.proposito img:hover {
    transform:scale(1.3);
    transition: 0.3s;
}

.negocio-cards h4 {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.members {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(180deg, #fff2cc, #00BCD4);
    padding: 15px;
    margin-bottom: 20px;
}

#nosso-time {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.members article {
    display: flex;
    flex-direction: column;
    justify-content: justify-between;
    width: 22%;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #fff;
}

/* #set-members2 {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(360deg, #FFF, #00BCD4);
    margin-bottom: 5px;
} */

/* .members figure {
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
} */

.members h3 {
    display: flex;
    justify-content: center;

}

.foto-perfil {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.foto-perfil img {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

.box-membro-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}


.nome-membro {
    margin-top: 20px;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.descricao-membro > p, h4 {
    font-size: 0.9rem;

}


.redes-prof img {
    margin-top: 15px;
    
}

.redes-prof img:hover {
    transform:scale(1.3);
    transition: 0.3s;
}



/* Página Notícias */
.main-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}

.news-article {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Distribui o espaço em duas colunas */
    gap: 50px; /* Espaçamento entre os itens dentro do artigo */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px;
    border-bottom:1px solid #212121;
}
.image-container img {
    width: 600px; 
    height: 400px;
    align-self: center;
}


.main-noticias h1 {
    padding: 0;
}


.bloco-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
}

.bloco-noticias article {
    display: flex;
    margin: 32px;

}


.bloco-noticias figure {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bloco-noticias figure:hover {
    transform: scale(1.1);
    transition: 0.3;
}

.bloco-noticias img {
    padding: 0;
    border-radius: 10px;
}


.noticia {
    text-align: left;
    margin-left: 40px;
}


.noticia h2{
   margin-bottom: 10px;
   padding: 10px 0 10px;
   text-align:left;
   justify-content:center;
}


.noticia p:last-of-type {
    margin-bottom: 20px;
}


.noticia a {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F0F0F0;
    color:#FFC107;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFC107;
    border-radius: 6px;
    border-width: 1px;
    border-style:solid;
    margin-right: 8px;
    transition-duration: 0.4s;
    text-decoration: none;
  }
    
.noticia a:hover {
    background-color:#FFC107;
    color: #ffffff;
  }


.tempo-publicacao {
    color: #888; 
    font-size: 0.9em; 
}


/*  newsletter */

.body-news {
    background-image: url("./img/aedes_fundoAmarelo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mailbox {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 50px;
    width: 100vh;

}

#mailbox label {
    margin-bottom: 1rem;
}

.form-news {
    display: flex;
    flex-direction: column;
}

#digite-email {
    display: flex;
    justify-content: end;
    margin: 0;
}

#digite-email input {
    width: 100%;
}

/* faq */

.main-faq {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 900px;
}

.main-faq h1 {
    align-self: center;
}

.titulo-bloco {
    height: 5rem;
    color: #000000;
    background-image: url("./img/background/mosquito2.png");
    background-size: 50%;
    background-position: center;
    font-weight: 500;
    margin: 0;
}

.titulo-bloco h2 {
    color:#FFC107;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px;
}


/* .collapse ul li {
    margin-left: 30px;
} */

.faq-atualiza {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.btn.btn-link {
    text-align: left;
}

.faq-title {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px;
}

/* sobre a dengue */
.main-sobre {
    width: 900px;
    margin: 0 auto;
}

/* estilos dinâmicos validação formulários */
input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    color: #206620;
  }
  
  .error-text {
    display: none;
    font-size: .8rem;
    font-weight: 600;
    color: #992020;
  }
  
  .visible {
    display: block;
  }