* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* cabeçalho de navegação */
.header-topo {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 16x;
    margin-bottom: 10px;
}


.header-topo nav ul li {
    padding-left: 15px;
    list-style-type: none;
}

.header-topo ul {
    display: flex;
    height: 100%;
    align-items: center;

}

.header-topo nav a {
    text-decoration: none;
    color: #000000a6
}


.header-topo nav a:hover {
    color: #000000
}

/* logo superior */
.header-topo img {
    height: 70px;
    width: auto;
    margin-left: 8px;
}

/* formulário de pesquisa */
form.busca {
    display: flex;
    align-items: center;
    
}

button.botao-busca {
    padding: 6px 12px;
    font-size: 16px;
    color:#FFC107;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFC107;
    border-radius: 6px;
    border-width: 1px;
    border-style:solid;
    margin-right: 8px;
    transition-duration: 0.4s;
  }
    
  button.botao-busca:hover {
    background-color:#FFC107;
    color: #ffffff;
  }

input.form-control {
    border-width: 1px 1px 1px 1px;
    padding: 6px 12px;
    border-radius: 6px;
    border-color: #ffffff;
    color: #000000a6;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style:solid;
    margin-right: 8px;
}

/* conteúdo principal */

main {
    margin: 60px;
}

/* footer */
footer {
    background-color: #f8f9fa ;
}


footer nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;

}

footer ul {
    list-style: none;
    padding: 0px;
}


footer ul li {
    margin-right: 20px;
    text-decoration: none;
    margin: 0px;
}


footer nav img {
    height: 150px;
    width: auto;

}

address {
    padding-bottom: 8px;
}

.dados-contato{
    padding-bottom: 4px;
}

.dados-contato a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.dados-contato ul {
    display: flex;
    justify-content: center;
    margin: 0px 0px 4px 0px;
}

footer nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;

}

footer nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;

}

footer nav a:hover {
    color: #FFC107;
}


footer strong {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;
}


.copyright {
    display: flex;
    justify-content: center

}

.copyright p {
    padding: 8px;
}

h1 {
    text-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

h2 {
    font-family: "Poppins", sans-serif;
    text-size-adjust: 1.5rem;
    font-weight: 400;
    margin-bottom: 6px;
}

h3 {
    text-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 2px;
}

h4 {
    text-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 2px;
}

p {
    text-size: 1rem;
}

/* quem somos */

.projeto-integrador {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#pi.container {
    display: block;
    margin-right: 25px;
    width: 100%;
}

div#ods3.container {
    display: flex;
    margin: 25px 0px;
    padding: 25px;
    background-color: #f8f9fa;
    border-radius: 20px;
    width: 100%;
}
