header nav {
    display: flex;
    margin: 0px;
    align-items: center;
    background-color: #ffffff;
    padding: 0x;
}


header nav ul {
    display: flex;
    list-style: none;
    align-items: end;
    padding: 0px;

}

header nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px 10px;
}


header nav a:hover {
    color: ;
    font-weight: 600;
    background-color: #f8f9fa;
}

header nav ul li {
    margin-right: 20px;
    text-decoration: none;
    margin: 0px;

}

header nav img {
    height: 70px;
    width: auto;

}
.logo {
    padding: 5px;
}

.busca {
    margin: 5px;
    
}

.busca button {
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.busca input {
    color: #000000a6;
    font-size: 14px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    background-color: #f8f9fa ;
}


footer nav {
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    list-style: none;
    padding: 0px;
}


footer ul li {
    margin-right: 20px;
    text-decoration: none;
    margin: 0px;
}


footer nav img {
    height: 150px;
    width: auto;
    margin-right: 20px;

}

.dados-contato a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.dados-contato ul {
    display: flex;
    justify-content: center;
    margin: 0px 0px 8px 0px;
}

footer nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;

}

footer nav a {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;

}

footer strong {
    text-decoration: none;
    color: #000000a6;
    font-size: 16px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;
}


.copyright {
    display: flex;
    justify-content: center

}

.copyright p {
    margin: 0px 0px 16px 0px;
}

